html {
   background-color: #333333;
    margin: 0 auto;
    padding: 0px;
  }
  body {
    width: 100%;
    margin: 0 auto;
    background-color: #444444;;
    
  }
  .cuerpo-principal {
    
    background-color: #212121;
    width: 960px;
    margin: 30px auto 0px auto;
    overflow: hidden;
  }
  p{
    color: #738F9B;
    text-align: justify;
  }
  .cuento{
    background-color:#212121;
    overflow:scroll;
    height: 700px;
    width: 960px;
    margin-left:200px;
    margin-top:0px;
 }
 .imagenCuento{
   height:300px; 
   width:250px;
   margin-left:550px;
   
 }
 h1{
   color:black;
   text-align:center;
 }
 
 li{
    border: 10px solid transparent;
    background-color: #CC9752;
    display: inline-table;
    font-size:18px;
    color: brown;
    margin-top: 4px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    
    
 }
 a{
   text-decoration:none;
   text-anchor: middle;
   color:#0F3B5F;
 }
 .imagenPoe{
   height:400px; 
   width:450px;
   margin-left:250px;
   
 }
 .disqus{
    background-color:black;
 }
 
  